{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="stylesheet" href="{%static 'css/style.css' %}">
  <title>Responsive Sidebar Navigation | CodyHouse</title>
</head>
<body>
  <header class="cd-main-header js-cd-main-header">
    <div class="cd-logo-wrapper">
      <a style="font-size: 30px;letter-spacing: 7px;" href="#0" class="cd-logo"><span style="color:#4285F4">Q</span><span style="color:#DB4437">U</span><span style="color:#F4B400">I</span><span style="color: #4285F4;">Z</span><span style="color: #0F9D58;">M</span><span style="color: #DB4437;">O</span></a>
    </div>
    
    <div class="js-cd-search">
      
    </div>
  
    <button class="reset cd-nav-trigger js-cd-nav-trigger" aria-label="Toggle menu"><span></span></button>
  
    <ul class="cd-nav__list js-cd-nav__list">
      <li class="cd-nav__item"><a href="#0">Contact Us</a></li>
      <li class="cd-nav__item"><a href="#0">Support</a></li>
      <li class="cd-nav__item cd-nav__item--has-children cd-nav__item--account js-cd-item--has-children">
        <a href="#0">
          <img src="{% static 'img/cd-avatar.svg' %}" alt="avatar">
          <span>Account</span>
        </a>
    
        <ul class="cd-nav__sub-list">
          <li class="cd-nav__sub-item"><a href="#0">My Account</a></li>
          <li class="cd-nav__sub-item"><a href="#0">Logout</a></li>
        </ul>
      </li>
    </ul>
  </header> <!-- .cd-main-header -->
  
  <main class="cd-main-content">
    <nav class="cd-side-nav js-cd-side-nav">
      <ul class="cd-side__list js-cd-side__list">
        <li class="cd-side__label"><span style="font-size: 15px;">Main Control</span></li>
        <li class="cd-side__item cd-side__item--has-children cd-side__item--overview js-cd-item--has-children">
          <a href="#0">My Profile</a>
        
          
          <ul class="cd-side__sub-list">
            <li class="cd-side__sub-item"><a href="#0">Profile</a></li>
            <li class="cd-side__sub-item"><a href="#0">Dashboard</a></li>
            <li class="cd-side__sub-item"><a href="#0">Settings</a></li>
          </ul>
        </li>

        <li class="cd-side__item cd-side__item--has-children cd-side__item--notifications cd-side__item--selected js-cd-item--has-children">
          <a href="#0">Notifications<span class="cd-count">3</span></a>
          
          <ul class="cd-side__sub-list">
            <li class="cd-side__sub-item"><a aria-current="page" href="#0">All Notifications</a></li>
            <li class="cd-side__sub-item"><a href="#0">Users<span class="cd-count">3</span></a></li>
            <li class="cd-side__sub-item"><a href="#0">Admin<span class="cd-count">3</span></a></li>
          </ul>
        </li>
    
        <li class="cd-side__item cd-side__item--has-children cd-side__item--comments js-cd-item--has-children">
          <a href="#0">Chat</a>
          
          <ul class="cd-side__sub-list">
            <li class="cd-side__sub-item"><a href="#0">All Chat</a></li>
            <li class="cd-side__sub-item"><a href="#0">Edit Chat</a></li>
            <li class="cd-side__sub-item"><a href="#0">Delete Chat</a></li>
          </ul>
        </li>
      </ul>
    
      <ul class="cd-side__list js-cd-side__list">
        <li class="cd-side__label"><span>Secondary Control</span></li>
        <li class="cd-side__item cd-side__item--has-children cd-side__item--bookmarks js-cd-item--has-children">
          <a href="#0">Test</a>
          
          <ul class="cd-side__sub-list">
            <li class="cd-side__sub-item"><a href="#0">All Test</a></li>
            <li class="cd-side__sub-item"><a href="#0">Ongoing Test</a></li>
          </ul>
        </li>

        <li class="cd-side__item cd-side__item--has-children cd-side__item--images js-cd-item--has-children">
          <a href="#0">Images</a>
          
          <ul class="cd-side__sub-list">
            <li class="cd-side__sub-item"><a href="#0">All Images</a></li>
            <li class="cd-side__sub-item"><a href="#0">Edit Image</a></li>
          </ul>
        </li>
    
        <li class="cd-side__item cd-side__item--has-children cd-side__item--users js-cd-item--has-children">
          <a href="#0">Participants</a>
          
          <ul class="cd-side__sub-list">
            <li class="cd-side__sub-item"><a href="#0">All Users</a></li>
            <li class="cd-side__sub-item"><a href="#0">Edit User</a></li>
            <li class="cd-side__sub-item"><a href="#0">Add User</a></li>
          </ul>
        </li>
      </ul>
    
      <ul class="cd-side__list js-cd-side__list">
        <li class="cd-side__label"><span>Action</span></li>
        <li class="cd-side__btn"><button class="reset" href="#0">+ Schedule a Test</button></li>
      </ul>
    </nav>
  
     <!-- .content-wrapper -->
  </main> <!-- .cd-main-content -->
  <script src="{%static 'js/util.js' %}"></script> <!-- util functions included in the CodyHouse framework -->
  <script src="{%static 'js/menu-aim.js' %}"></script>
  <script src="{%static 'js/main.js' %}"></script>
</body>
</html>